@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #EBEBEB;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.875rem;
}


.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #8A2C2A;
}


.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn:hover {
  width: 125px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px ,2px);
}

.btn-edit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 120px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #2a1d45;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: .3s;
  margin: 5px 0px;
}

.MuiDialogActions-root {
  display: none !important;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  gap: 8px;
  height: 50px; 
  width: 200px; 
  border: none;
  background: #2a1d45; 
  border-radius: 5px;
  cursor: pointer;
}

.lable {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
}



.button:hover .svg-icon {
  animation: slope 1s linear infinite;
}

@keyframes slope {
  0% {
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
  }
}



.cartBtn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 500;
  position: relative;
  background-color: #2a1d45;
  box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.cart {
  z-index: 2;
}

.cartBtn:active {
  transform: scale(0.96);
}

.product {
  position: absolute;
  width: 12px;
  border-radius: 3px;
  content: "";
  left: 23px;
  bottom: 23px;
  opacity: 0;
  z-index: 1;
  fill: rgb(211, 211, 211);
}

.cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.btn-edit .svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.btn-edit:hover {
  color: transparent;
}

.btn-edit:hover .svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.btn-edit:active {
  transform: translate(3px, 3px);
  transition-duration: .3s;
}


.hidenscroll {
  scrollbar-width: none; 
}

.hidenscroll::-webkit-scrollbar {
  display: none; 
}

.slide-left-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out; 
}
.slide-left-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-left-exit-active {
  transform: translateX(-100%); /* Cambiado a -100% para salir hacia la izquierda */
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out; 
}

.slide-right-enter {
  transform: translateX(100%);
  opacity: 0;
}
.slide-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out; 
}
.slide-right-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-right-exit-active {
  transform: translateX(100%); /* Cambiado a 100% para salir hacia la derecha */
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out; 
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.scrollbar-hidden {
  scrollbar-width: none; 
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; 
}

.fc-header-toolbar {
  @apply bg-purple;
  @apply text-purple;
  @apply p-4;
  margin: 0;
}

.fc-button-primary:hover {
  @apply text-purple !important;
  @apply text-white !important;
}

.fc-button-active {
  @apply text-purple !important;
}

.fc .fc-toolbar-title {
  @apply text-[clamp(1.1em,_1.5vw,_1.75em)]; 
  @apply text-white;
}

@media (max-width: 768px) {
  .Forms {
    border-radius: 40px;
  }
}
